<!DOCTYPE html>
<html lang="en">


<head>
	<title> JavaJam Coffee House Jobs </title>
	<meta charset="utf-8">
	<link href="javajam.css" rel="stylesheet">
	<link href="favicon.ico" rel="icon" type="image/x-icon">
	<meta name="viewport" content="width=device-width, 
		initial-scale=1.0">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
	</script>
	<![endif[-->
</head>
<body>
<div id="wrapper">
<div id="container">
	<header>
		<h1> JavaJam Coffee House </h1>
	</header>
	<nav>
		<ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="menu.html">Menu</a></li>
		<li><a href="Music.html">Music</a></li>
		<li><a href="Jobs.html">Jobs</a></li>
		</ul>
	</nav>
	<div id="content">
		<h2>Jobs at JavaJam</h2>
		<p> Want to work at JavaJam? Fill out the form below to 
			start your application. </p>
		<label for="myName"> *Name: </label>
			<input type="text" id="myName" name="myName" required="required">
		<label for="myEmail"> *E-mail: </label>
			<input type="email" id="myEmail" name="myEmail" size="40" required="required">
		<label for="myDate"> Start Date: </label>
			<input type="date" name="myDate" id="myDate">
		<label for="myExperience"> *Experience:</label>
		<textarea name="myExperience" id="myExperience" rows="2" 
		cols="20" required="required">
		</textarea>
		<input type="submit" value="Apply Now"> &nbsp
		</form>		
	</div>
	<footer>
		Copyright &copy; 2015 JavaJam Coffee House<br>
		<a href="mailto%20Brandon%40Bailey.html">Brandon@Bailey.com</a>
	</footer>
</div>
</div>	
</body>
</html>